@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: 'white'; /* Светлый фон */
    --primary: #10b68b; /* Цвет для заголовков */
    --foreground: #000000; /* Цвет текста по умолчанию */

    --dark-background: #1a1a1a; /* Темный фон */
    --dark-primary: #10b68b; /* Цвет для заголовков */
    --dark-foreground: #ffffff; /* Цвет текста по умолчанию */
}

.dark {
    --background: #1a1a1a;
    --primary: #10b68b;
    --foreground: #ffffff;
}

body {
    background: var(--background);
    color: var(--foreground);
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary);
}

h1 {
    font-weight: bold;
}

p {
    color: var(--foreground); /* Используйте переменную для текста */
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
