@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #e8f5f1;
    --primary: #10b68b;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #ededed;
    }
}

body {
    background: var(--background);
    color: black;
}

h1,
h2,
h3,
h4,
h5 {
    color: var(--primary);
}

h1 {
    font-weight: bold;
}

p {
    color: black;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
